span {
    width: 400px;
    aspect-ratio: 1 / 1;
    border-radius: 9999px;
    position: absolute;
    /* animation: move 8s infinite linear; */
    z-index: -1;
    filter: blur(150px);
}

@keyframes move {
    from {
        transform: scale(1) rotate(0) skewX(15deg);
    }
    50% {
        transform: scale(1.25) rotate(180deg) skewX(0);
    }
    to {
        transform: scale(1) rotate(360deg) skewX(15deg);
    }
}

/* @media screen and (min-width: 768px) {
    
} */
    
