span {
    width: 500px;
    aspect-ratio: 1 / 1;
    border-radius: 50%;
    position: absolute;
    animation: move 8s infinite linear;
    z-index: -1;
    opacity: .5;
    filter: blur(100px);
}

@keyframes move {
    from {
        transform: scale(1);
        filter: blur(100px) brightness(1);
    }
    50% {
        transform: scale(1.5) ;
        filter: blur(100px) brightness(1.5);
    }
    to {
        transform: scale(1);
        filter: blur(100px) brightness(1);
    }
}