span {
    width: 150px;
    aspect-ratio: 1;
    border-radius: 9999px;
    position: absolute;
    z-index: -1;
    filter: blur(50px);
    /* animation: move 8s infinite linear; */
}

@keyframes move {
    from {
        transform: scale(1) rotate(0);
        filter: blur(0px);
    }
    50% {
        transform: scale(1) rotate(180deg) skewX(0);
        filter: blur(200px);
    }
    to {
        transform: scale(1) rotate(360deg);
        filter: blur(0px);
    }
}