@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap'); 

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    font-family: 'Raleway', sans-serif;
    // background: linear-gradient(144deg, #3b82f6, #22c55e, #eab308, #dc2626);
    background: linear-gradient(144deg, rgb(0, 0, 15), rgb(0, 15, 15));
    color: #fafafa;
    font-size: x-large;
    /* background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='4' height='4' viewBox='0 0 4 4'%3E%3Cpath fill='%23f0f0f0' fill-opacity='1' d='M1 3h1v1H1V3zm2-2h1v1H3V1z'%3E%3C/path%3E%3C/svg%3E"); */
    overflow-x: hidden;
    min-height: 100vh;
}

.text-shadow {
    text-shadow: 0px 0px 3px #fff;
}

.text-gradient {
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    /* background-size: 200%;
    animation: background-pan 3s linear infinite; */
}

.text-rainbow {
    background: linear-gradient(to right, #38bdf8, #4ade80, #fbbf24, #fb7185, #fbbf24, #4ade80, #38bdf8);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 200%;
    animation: move-background 2s linear infinite;
    text-decoration: underline;
  }  

html {
    scroll-behavior: smooth;
}

/* scroll */

::-webkit-scrollbar {
    width: 0;
}

.text-border {
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #fafafa;
}

@keyframes move-background {
    0% {
    background-position: 0% center;
  }
  100% {
    background-position: -200% center;
  }
}